@import "utilities/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "utilities/bootswatch";

@for $i from 20 through 100 {
  @if $i % 10 == 0 {
    $percentage: $i * 1%;
    .bg-primary-mix-black-#{$i} {
      background-color: mix(black, $primary, $percentage);
    }
    .bg-primary-mix-white-#{$i} {
      background-color: mix(white, $primary, $percentage);
    }
  }
}

.navbar {
  height: 4.2rem
}

.offcanvas-navbar {
  height: min-content;
  border-bottom: 0;
}

.carousel-item{
  height: $container-with-navbar
}

.overlay {
    z-index: 2000;
    background-image: linear-gradient(120deg, #ffc935 0%, $primary 100%);
}